.task-detail-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1E1C28;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: 'Arial', sans-serif;
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.task-detail-container .task-header {
  background-color: #4285F4;
  color: white;
  padding: 20px;
  border-radius: 8px 8px 0 0;

  h1 {
    margin-bottom: 10px;
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }
}

.task-detail-container  .task-meta {
  margin-top: 15px;

  p {
    margin: 8px 0;
    font-size: 14px;
    strong {
      font-weight: bold;
    }
  }
}

.task-detail-container .edit-task-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;

  input,
  textarea,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #444353;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    box-sizing: border-box; /* Ensures padding is included in the width */
  }

  .task-detail-container  button {
    background-color: #1A73E8;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #128a77;
    }
  }
}

.task-detail-container .comments-section {
  flex: 1;
  background-color:#262538 ;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .task-detail-container .comments-list {
    flex: 1; /* Allow the comments list to grow */
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 300px; /* Set a maximum height */
    margin-bottom: 20px;

    .comment {
      background-color: #f0f0f0;
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 10px;

      strong {
        color: #333;
      }

      span {
        font-size: 14px;
        color: #666;
      }
    }
  }

  .task-detail-container  .add-comment-form {
    display: flex;
    flex-direction: column;

    textarea {
      width: 100%;
      height: 100px;
      padding: 10px;
      border: 1px solid #ddd;
      background: #444353;
      border-radius: 4px;
      margin-bottom: 10px;
      font-size: 16px;
    }

    .task-detail-container button {
      align-self: flex-end;
      background-color: #1A73E8;
      padding: 10px 15px;
      font-size: 16px;

      &:hover {
        background-color: #0d438a;
      }
    }
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .task-detail-container {
    flex-direction: column;
  }

  .task-detail-container   .task-header {
    padding: 15px;
  }

  .task-detail-container  h1 {
    font-size: 22px;
  }

  .task-detail-container p {
    font-size: 14px;
  }

  .edit-task-form input,
  .edit-task-form textarea,
  .edit-task-form select,
  button {
    font-size: 14px;
    padding: 8px;
  }

  .comments-section h2 {
    font-size: 20px;
  }
}
