<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <style>
        h1 {
            text-align: center;
        }
        
        body {
            background-color: black;
            color: white;
        }
    </style>
    <h1>Chat</h1>
    <script>
        const COMMENT = 'comment';
        const CHANGE_PRIORITY = 'change_priority';
        const CHANGE_STATUS = 'change_status';
        const CHANGE_ASSIGNEE = 'change_assignee';


        const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/13/');

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const message = data['message'];
            console.log(message);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly', e);
        };

        // Send message to server
        function sendMessage(message) {
            chatSocket.send(JSON.stringify({
                'type': COMMENT,
                'message': message
            }));
        }

    </script>
</body>
</html>