@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1E1C28 ;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5  ,p{
  font-family:  "Quicksand", sans-serif;
  

}

button {
  background-color:#6F83D8;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color:#4055b2;
}

a {
  color: #4660CB;
  text-decoration: none;
}

a:hover {
  color: #0288D1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
